name: Preview Pulumi
on:
  pull_request:
    types: [opened, reopened]
    branches: [main]

jobs:
  deployment:
    name: Preview
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x

      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x

      - uses: pulumi/actions@v3
        with:
          command: preview
          stack-name: thehossgame
          work-dir: src/TheHossGame.Cloud
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_subscription_ID }}
